
<%= form_for @article, url: {action: "create"} do |f| %>
<p>
	<%= f.text_field :title, :placeholder => "article title"%>
	</p>
	<%= f.text_area :content, label: "content", size: "60x10", :placeholder => "article content" %>
	<%= f.submit "Submit" %>
<% end %>