<h1>Articles</h1>

<div>
<% @articles.each do |article| %>
<div>
<a href="/articles/<%= article.id %>"><h4> <%= article.title %></h4></a>
<p>
published 
<%= article.created_at %>
</p>
</div>
<br>
<% end %>